[submodule "deps/Common"]
	path = deps/Common
	url = https://github.com/ScrimpyCat/Common.git
[submodule "deps/tinycthread"]
	path = deps/tinycthread
	url = https://github.com/tinycthread/tinycthread.git
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "deps/Chipmunk2D"]
	path = deps/Chipmunk2D
	url = https://github.com/slembcke/Chipmunk2D.git
[submodule "deps/chibi-scheme"]
	path = deps/chibi-scheme
	url = https://github.com/ashinn/chibi-scheme.git
[submodule "deps/libpng"]
	path = deps/libpng
	url = https://github.com/glennrp/libpng
